@mixin borderRadius($radius) {
    border-radius: $radius !important;
}

// Nice fox bottom UwU
@mixin borderRadiusBottom($radius) {
    border-bottom-right-radius: $radius !important;
    border-bottom-left-radius: $radius !important;
}

@mixin margin($top, $right: null, $bottom: null, $left: null) {
    margin-top: $top !important;
    @if $right != null {
        margin-right: $right !important;
    }
    @if $bottom != null {
        margin-bottom: $bottom !important;
    }
    @if $left != null {
        margin-left: $left !important;
    }
}

.body-primary {
    background-color: honeydew;
}

.footer-primary {
    position: sticky;
    height: 110px;
    top: calc(100vh - 100px);
}

.content-nav {
    display: flex;
    @include borderRadiusBottom(25px);
    height: 89px;
    background-color: #374040;
    width: auto;
    overflow: hidden;

    .nav-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 60%; // Adjust the width as needed
        margin: 0 auto;

        @media screen and (max-width: 768px) {
            width: 100%;
            padding: 0 10px; // Add some padding to adjust spacing
            justify-content: center; // Center the items on mobile
            margin-right: 100%;
        }
    }

    .logo {
        margin-top: 8px;
        margin-left: 2%;

        @media screen and (max-width: 768px) {
            padding: 0 10px;
            width: 128px;
            height: 128px;
        }
    }

    .neon {
        margin-left: 3%;

        @media screen and (max-width: 768px) {
            margin-left: 10%;
        }
    }

    .arrow {
        margin-bottom: 40px;
        margin-left: 0.4rem;

        @media screen and (max-width: 768px) {
            margin-left: 10%;
        }
    }
}

.title {
    display: block;
    font-family: "Luckiest Guy", serif;
    text-transform: uppercase;
    font-size: xxx-large;
    @include margin(160px, null, null, 4.4rem);
    color: white;
}

.button-title {
    border-color: #0a4fff;
    border-radius: 15px;
    display: inline;
    width: 150px;
    height: 50px;
    @include margin(-10px, null, null, 50%);
}

.content-container {
    @include borderRadius(25px);
    display: block;
    background-color: #0e1414;
    position: relative;
    width: auto;
    height: 100%;
}

.site-header {
    display: block;
    background-attachment: fixed;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: sticky;
    overflow: hidden;

    &:after {
        height: 75px;
        position: absolute;
        bottom: 0;
        right: 0;
        transform-origin: bottom right;
        width: 103%;
        padding-bottom: 7.1%;
        left: -1.5%;
    }

    h2.ui.header {
        color: #fff;
        font-weight: 300;
        font-size: 30px;
        @include margin(70px, 30px, 40px);
    }

    h2.ui.header p {
        font-size: 18px;
        margin-left: 65px;
    }
}

/* Media Queries for Mobile */
@media only screen and (max-width: 768px) {
    .content-nav .nav-bar {
        margin-left: 5%;
        width: 100%;
    }

    .title {
        font-size: large;
        @include margin(100px, null, null, 2rem);
    }

    .button-title {
        @include margin(null, null, null, 25%);
    }

    .site-header h2.ui.header {
        font-size: 20px;
        @include margin(30px, 15px, 20px);
    }

    .site-header h2.ui.header p {
        font-size: 14px;
        margin-left: 30px;
    }
}
